<!DOCTYPE html>
<html ng-app="dw">
<head>
  <meta charset="UTF-8">
  <!-- css -->
  <link type="text/css" rel="stylesheet" href="js/libs/bootstrap/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="css/app.css" />
  <!-- libs -->
  <script src="js/libs/jquery/jquery-2.1.4.min.js"></script>
  <script src="js/libs/bootstrap/js/bootstrap.min.js"></script>
  <!-- angular -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="js/angular/app.js"></script>
  <script src="js/angular/controllers/index.js"></script>
  <script src="js/angular/services/vbox.js"></script>
  <script src="js/angular/services/docker.js"></script>
  <!-- scripts -->
  <script src="js/String.prototype.js"></script> <!-- printf -->
  <script src="js/node-init.js"></script>  <!-- initialize nw.js application with default goodies -->
  <!-- title -->
  <title>Window title</title>
</head>
<body>

  <div id="terminal"></div>
  <script>
//    var terminal, term;
//    var readonly = false;
//    //backend
//    term = pty.spawn('bash', [], {
//      name: 'vt220',
//      cols: 155,
//      rows: 46,
//      cwd: process.env.HOME,
//      env: process.env
//    });
//
//    /*term.on('data', function(data) {
//      console.log(data);
//    });
//
//    term.write('ls\r');
//    term.write('echo $?\r');*/

//
//    //frontend
//    terminal = new termjs.Terminal({
//      useStyle: true,
//      visualBell: true,
//      geometry: [155, 46]
//    });
//
//    terminal.on('data', function(data) {
//      if (readonly) return;
//      term.write(data);
//    });
//
//    term.on('data', function(data) {
//      terminal.write(data);
//    });

    //initiate frontend
//    terminal.open(document.getElementById('terminal'));
  </script>

  <script>
//    var drude = new Docker({host: 'http://127.0.0.1', port: 2375, timeout: 1000});
//    drude.listContainers(function (err, containers) {
//      containers.forEach(function (containerInfo) {
//        console.log(containerInfo);
//      });
//    });
  </script>

  <script>
    try {
      var doc = yaml.safeLoad(fs.readFileSync('/Users/alexei.chekulaev/Sites/wholefoods/docker-compose.yml', 'utf8'));
      console.log(doc);
    } catch (e) {
      console.log(e);
    }
  </script>

  <div ng-controller="IndexController as app">
    <div ng-repeat="vm in app.vbox.list">
      {{vm.name}} - {{vm.running ? 'running' : 'not running'}}
    </div>
    <div ng-repeat="container in app.docker.containers">
      {{container.Image}}
    </div>
  </div>

</body>
</html>
