<!DOCTYPE html>
<html ng-app="dw">
<head>
  <meta charset="UTF-8">
  <!-- css -->
  <link type="text/css" rel="stylesheet" href="js/libs/bootstrap/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
  <link type="text/css" rel="stylesheet" href="css/app.css" />
  <!-- libs -->
  <script src="js/libs/jquery/jquery-2.1.4.min.js"></script>
  <script src="js/libs/bootstrap/js/bootstrap.min.js"></script>
  <!-- angular -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/ngstorage/ngStorage.min.js"></script>
  <script src="js/angular/app.js"></script>
  <script src="js/angular/controllers/index.js"></script>
  <script src="js/angular/controllers/messages.js"></script>
  <script src="js/angular/services/messages.js"></script>
  <script src="js/angular/services/vbox.js"></script>
  <script src="js/angular/services/vagrant.js"></script>
  <script src="js/angular/services/docker.js"></script>
  <script src="js/angular/services/yaml.js"></script>
  <script src="js/angular/services/drude.js"></script>
  <script src="js/angular/services/terminal.js"></script>
  <script src="js/angular/services/tray.js"></script>
  <!-- scripts -->
  <script src="js/String.prototype.js"></script> <!-- printf -->
  <script src="js/Array.prototype.js"></script>
  <script src="js/node-init.js"></script>  <!-- initialize nw.js application with default goodies -->
  <!-- title -->
  <title>Drude Watch</title>
</head>
<body>
  <script type="text/ng-template" id="message.html">
    <div class="alert alert-{{message.type}}">{{message.text}}<button ng-click="messages.release(index)">X</button></div>
  </script>

  <div ng-controller="IndexController as app">
    <input style="display:none;" id="fileDialog" type="file" nwdirectory nwworkingdir="{{app.config.vagrant.path}}" accept=".yml" />

    <div ng-controller="MessagesController as messages">
      <div ng-repeat="(index, message) in messages.list">
        <div ng-include src="'message.html'"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 left-menu">
        <nav class="navbar navbar-default" role="navigation">
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              <!-- Docker status -->
              <li class="active">
                Docker
                <span class="glyphicon glyphicon-ok-sign green" ng-if="app.session.vagrant.vm.running"></span>
                <i class="fa fa-frown-o" ng-if="!app.session.vagrant.vm.running"></i>
              </li>
              <!--<li class="active"><a href="#">Link</a></li>-->
              <!-- Projects -->
              <li data-label="{{project.label}}" ng-repeat="project in app.config.projects">
                <a href="#{{project.label}}" ng-click="app.tabActivate(project.label)" role="tab">{{project.name}}
                <button ng-click="app.startProject(project.label)">-></button>
                <button ng-click="app.stopProject(project.label)">X</button></a>
                <div ng-repeat="(name, data) in project.containers">
                  <span class="glyphicon glyphicon-ok-sign green" ng-if="data.$instance"></span>
                  <i class="fa fa-circle-thin" ng-if="!data.$instance"></i>
                  {{name}}
                </div>
              </li>
            </ul>
          </div>
        </nav>

        <button class="btn btn-default" ng-click="app.addProject()">Add project</button>
      </div>
      <div class="col-md-10 right-content">
        <div class="tab-content" id="tabContent">
          <div role="tabpanel" class="tab-pane active" id="home">Welcome to Drude Watch, commander.</div>
        </div>
      </div>
    </div>

  </div>

</body>
</html>
