<!DOCTYPE html>
<html ng-app="dw">
<head>
  <meta charset="UTF-8">
  <!-- css -->
  <link type="text/css" rel="stylesheet" href="js/libs/bootstrap/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="css/app.css" />
  <!-- libs -->
  <script src="js/libs/jquery/jquery-2.1.4.min.js"></script>
  <script src="js/libs/bootstrap/js/bootstrap.min.js"></script>
  <!-- angular -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/ngstorage/ngStorage.min.js"></script>
  <script src="js/angular/app.js"></script>
  <script src="js/angular/controllers/index.js"></script>
  <script src="js/angular/controllers/messages.js"></script>
  <script src="js/angular/services/messages.js"></script>
  <script src="js/angular/services/vbox.js"></script>
  <script src="js/angular/services/vagrant.js"></script>
  <script src="js/angular/services/docker.js"></script>
  <script src="js/angular/services/yaml.js"></script>
  <script src="js/angular/services/drude.js"></script>
  <!-- scripts -->
  <script src="js/String.prototype.js"></script> <!-- printf -->
  <script src="js/node-init.js"></script>  <!-- initialize nw.js application with default goodies -->
  <!-- title -->
  <title>Drude Watch</title>
</head>
<body>

  <div id="terminal"></div>
  <script>
//    var terminal, term;
//    var readonly = false;
//    //backend
//    term = pty.spawn('bash', [], {
//      name: 'vt220',
//      cols: 155,
//      rows: 46,
//      cwd: process.env.HOME,
//      env: process.env
//    });
//
//    /*term.on('data', function(data) {
//      console.log(data);
//    });
//
//    term.write('ls\r');
//    term.write('echo $?\r');*/

//
//    //frontend
//    terminal = new termjs.Terminal({
//      useStyle: true,
//      visualBell: true,
//      geometry: [155, 46]
//    });
//
//    terminal.on('data', function(data) {
//      if (readonly) return;
//      term.write(data);
//    });
//
//    term.on('data', function(data) {
//      terminal.write(data);
//    });

    //initiate frontend
//    terminal.open(document.getElementById('terminal'));
  </script>

  <script type="text/ng-template" id="message.html">
    <div class="alert alert-{{message.type}}">{{message.text}}<button ng-click="messages.release(index)">X</button></div>
  </script>

  <div ng-controller="IndexController as app">
    <input style="display:none;" id="fileDialog" type="file" nwdirectory nwworkingdir="{{app.config.vagrant.path}}" accept=".yml" />

    <div ng-controller="MessagesController as messages">
      <div ng-repeat="(index, message) in messages.list">
        <div ng-include src="'message.html'">123</div>
        <!--<div style="border: 1px solid red">-->
          <!--{{message.type}} - {{message.text}}-->
          <!--<button ng-click="messages.release(index)">X</button>-->
        <!--</div>-->
      </div>
    </div>
    <!-- Docker status -->
    <div>
      Docker - {{app.session.vagrant.vm.running ? 'running' : 'not running'}}
    </div>

    <!-- Projects -->
    <div ng-repeat="project in app.config.projects">
      <b>{{project.name}}</b>
      <div ng-repeat="(name, data) in project.containers">
        {{name}} - ({{data.$instance ? 'running' : 'stopped'}})
      </div>
    </div>

    <button class="btn btn-default" ng-click="app.addProject()">Add project</button>

  </div>

</body>
</html>
