@import "normalize.css";
@import "generic";
@import "terminal";


body {
  background: #f5f5f5;
}

html, body {
  //width: 100%;
  overflow: hidden;
}

.terminal {
  font-size: 12px;
}

/* -- Left menu -- */

.navbar-collapse {
  height: auto;
  border-top: 0;
  box-shadow: none;
  max-height: none;
  padding-left:0;
  padding-right:0;
}
.navbar-collapse.collapse {
  display: block !important;
  width: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
.navbar-collapse.in {
  overflow-x: visible;
}

.navbar
{
  //max-width:300px;
  margin-right: 0;
  margin-left: 0;
}

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

.left-menu {
  padding-right: 0;
}

.right-content {
  padding-left: 0;
}

/* -- Spinner -- */

.glyphicon.spinning {
  -webkit-animation: spin2 1.5s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

.spinning {
  -webkit-font-smoothing: subpixel-antialiased; /* looks better */
}