<table class="table">
  <thead>
  <tr><th colspan="2">Virtual machine</th></tr>
  </thead>
  <tbody>
  <tr ng-if="app.ctrl.session.vagrant.error" class="alert alert-danger">
    <td>Error</td><td>{{app.ctrl.session.vagrant.error}}</td>
  </tr>
  <tr ng-if="app.session.vagrant.vm.id">
    <td>ID</td><td>{{app.session.vagrant.vm.id}}</td>
  </tr>
  <tr ng-if="app.session.vagrant.vm.id">
    <td>Name</td><td>{{app.session.vagrant.vm.name}}</td>
  </tr>
  <tr>
    <td>Status</td><td>{{app.session.vagrant.vm.running ? 'Running' : 'Stopped'}}</td>
  </tr>
  </tbody>
</table>
<table class="table">
  <thead>
  <tr><th colspan="2">Docker</th></tr>
  </thead>
  <tbody>
  <tr ng-if="app.ctrl.session.docker.error" class="alert alert-danger">
    <td>Error</td><td>{{app.ctrl.session.docker.error}}</td>
  </tr>
  <tr ng-if="!app.config.docker.socket && app.config.docker.host">
    <td>Host</td><td>{{app.config.docker.host}}</td>
  </tr>
  <tr ng-if="!app.config.docker.socket && app.config.docker.port">
    <td>Port</td><td>{{app.config.docker.port}}</td>
  </tr>
  <tr ng-if="app.config.docker.socket">
    <td>Socket</td><td>{{app.config.docker.socket}}</td>
  </tr>
  <tr>
    <td>Status</td>
    <td ng-if="app.ctrl.session.docker.error || app.ctrl.session.vagrant.error || !app.ctrl.session.vagrant.vm.running" class="alert-danger">
      Unreachable
    </td>
    <td ng-if="!app.ctrl.session.docker.error && !app.ctrl.session.vagrant.error && app.ctrl.session.vagrant.vm.running" class="alert-success">
      Connected
    </td>
  </tr>
  </tbody>
</table>